body { margin: 60px auto; width: 75%;background: #000;}

a { text-decoration: none; color: #c7bfbf; }
a.mus{ font-size: 1em; line-height: 1.4em; text-decoration: none; color: #c7bfbf; }
a:hover { text-decoration: underline; }
em { font-style:italic; color:#fff; font-size: 1.7em; }

.btn-group .button {
    background-color: #000; /* noir */
    border: none;
    color: white;
    padding: 10px 1.1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    cursor: pointer;
    float: left;
    transition-duration: 0.4s;
}

.btn-group .button:hover {
    background-color: #5b8c04;
}

p.meta { color: #32aabd; }
p, ul { font-size: 1.3em; line-height: 1.4em; color: #fff; }
p { font-family: 'Helvetica','Microsoft YaHei UI','Cursive';}
audio { width: 120px; height: 32px; margin-top: 10px;}
p.mus { font-size: 1.5em; line-height: 1.4em; color: #fff; }

h1, h2, h3, h4 { font-family:'Helvetica', 'Microsoft YaHei UI'; color:#76b900;}
h1 { font-size: 2.5em;  }
h2 { font-size: 2.3em; }
h3 { font-size: 2em; }
h4 { font-size: 1.7em; }

nav ul { font-size: 1.8em; font-family: 'Helvetica','Sans-Serif','Microsoft YaHei UI';  list-style: none; font-weight: normal; box-shadow: 0px 3px 3px #000000; background: #000000;padding:0;}
footer ul { font-size: 1.5em; font-family: 'Helvetica','Microsoft YaHei UI';  list-style: none; font-weight: normal; box-shadow: 0px 3px 3px #3a3737;  background: #131c21;}
nav ul li, footer ul li { display: inline; margin-right: 30px; }

footer { border-top: 3px solid #76b900; font-size: .8em; }

/* Blog */
ul.posts { margin: 20px auto 40px; font-size: 1.5em; }
ul.posts li { list-style: none; }

/* CV */
.cv { margin: 0px 0px 60px; }
.cv h1 { font-size: 2.5em; }
.cv h2 { font-size: 2.3em; }
.cv address, .cv .download { font-family: 'Helvetica', 'Arial', 'Sans-Serif','Microsoft YaHei UI';color: #ffffff;  }
.cv address, .cv p { font-size: 1.3em; }
.cv .download { float: right; font-size: .8em; text-transform: uppercase; }
