<!DOCTYPE html>
<html>
  
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="shortcut icon" type="image/ico" href="../../../../../yugo.ico">
  </head>


   <body>
    <nav>
<ul>
<link rel="shortcut icon" type="image/ico" href="yugo.ico">
<div class="btn-group">
<li><a href="/" class="button">Home</a></li>
<li><a href="/about" class="button">About</a></li>
<li><a href="/cv" class="button">Yugo Nowadays</a></li>
<li><a href="/blog" class="button">Blog</a></li>
<li><a href="/music" class="button">Music</a></li>
 <li><a href="/locate" class="button">Lat&Lng</a></li>
  <li><a href="/ssr" class="button">SSR</a></li>
 <li>
  <audio controls="controls" loop="loop">
  <source src="../../../../../audio/Where Opposites Meet.mp3" type="audio/mpeg" />
    </li>
  </div>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
    
   <ul>
   <li><a target="_blank" href="mailto:yugoslaviamrk@gmail.com">Email</a></li>
   <li><a target="_blank" href="https://github.com/yugoslavia36">My GitHub</a></li>
   <li><a target="_blank" href="http://www.infinideas.org/">Infinideas</a></li>
   <li><a target="_blank" href="https://www.luogu.org/space/show?uid=35345">My Luogu Account</a></li>
   </ul>

  </footer>
  </body>

</html>
